{% load static %}

<div class="msg-block">
    {% if msg.text %} 
        <div class="{% if msg.text|length > 48 %}my-msg-container-column{% else %}my-msg-container{% endif %}">
            <div class="msg-text">{{ msg.text }}</div>
            <div class="msg-info-date">
                <p class="msg-date-text">{{ msg.created_at|date:"H:i" }}</p>
                <img class="msg-img" src="{% static 'images/msg/open.svg' %}" alt="open">
            </div>
        </div>
    {% endif %}
    
    {% if msg.images.all %} 
        <div class="my-msg-container-column">
            <div class="my-post-images-preview-container">
                {% for image_obj in msg.images.all %}
                    <!-- <p>{{ LOCAL }}</p>
                    <p>{% if LOCAL == 'False' %}http://{{ IP }}/media/{% else %}/media/{% endif %}{{ image_obj.image }}</p> -->
                    {% if LOCAL == "False" %}
                        <img class="send-message-image-my load-message-image" src="{% if LOCAL == 'False' %}http://{{ IP }}/media/{% else %}/media/{% endif %}{{ image_obj.image }}" alt="img">
                    {% else %}
                        <img class="send-message-image-my load-message-image" src="media/{{ image_obj.image }}" alt="img">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="msg-info-date">
                <p class="msg-date-text">{{ msg.created_at|date:"H:i" }}</p>
                <img class="msg-img" src="{% static 'images/msg/open.svg' %}" alt="open">
            </div>
        </div>
    {% endif %}
</div>