{% load static %}

{% if msg.text %} 
    <div class="msg-container">
        <!-- <img class="message-image msg-image online-img-{{msg.sender.username.id}} avatar-img" src="{% static 'images/icons/indicator.svg' %}" alt="indicator"> -->
        <div class="status-wrapper">  
            <img class="message-image msg-image online-img-{{msg.sender.id}} avatar-img" src='/media/{{ msg.sender.profile.avatar }}' alt="indicator">
            <img class="status-small-img" src="{% static 'images/offline.svg' %}" alt="off">
        </div>

        <div class="msg-info content-border-container">
            <div class="msg-info-text">
                <p class="msg-username-text">{{ msg.sender.username }}</p>
                <div class="msg-text">{{ msg.text }}</div>
            </div>
            <div class="msg-info-date">
                <p class="msg-date-text">{{ msg.created_at|date:"H:i" }}</p>
                <img class="msg-img" src="{% static 'images/msg/open.svg' %}" alt="open" >
            </div>
        </div>
    </div>
{% endif %}

{% for image_obj in msg.images.all %}
    <img class="send-message-image-other load-message-image" src="{{ image_obj.image.url }}" alt="img">
{% endfor %}