{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock  %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block links %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo-image-div">
                    <img src="{% static 'images/icons/WorldIT.svg' %}" alt="World IT logo" class="logo-image">
                </div>
                <div class='conteiner'>
                    <nav>
                        <div class = 'nav-link'>
                            <a href="{% url 'home' %}">
                                <div class="nav-image-div">
                                    <img src="{% static 'images/icons/house.svg' %}" alt="house" class="nav-image">
                                </div>
                                Головна
                            </a>
                        </div>
                        <div class = 'nav-link'>
                            <a href="{% url 'post' %}">
                                <div class="nav-image-div">
                                    <img src="{% static 'images/icons/post.svg' %}" alt="post" class="nav-image">
                                </div>
                                Мої публікації
                            </a>
                        </div>
                        <div class = 'nav-link'>
                            
                            <a href="{% url 'friends' %}">
                                <div class="nav-image-div">
                                    <img src="{% static 'images/icons/friends.svg' %}" alt="friends" class="nav-image">
                                </div>
                                Друзі
                            </a>
                        </div>
                        <div class = 'nav-link'>
                            
                            <a href="#">
                                <div class="nav-image-div">
                                <img src="{% static 'images/icons/chat.svg' %}" alt="house" class="nav-image">
                            </div>
                                Чати   
                            </a>
                        </div>
                        <div class = 'nav-link'>        
                            <a href="{% url 'settings' %}">
                                <div class="nav-image-div">
                                    <img src="{% static 'images/icons/settings.svg' %}" alt="settings" class="nav-image">
                                </div>
                                Налаштування
                            </a>
                        </div>
                    </nav>
                    <button class='logout'>
                        <div class="logout-image-div">
                            <img src="{% static 'images/icons/vector.svg' %}" alt="vector" class="logout-image">
                        </div>  
                        Вихід
                    </button>
                </div>
            </div>
        </header>

        <main>        
            <div class="info-container">
                {% block info-content %}
                    
                {% endblock %}
            </div>
            <div class="main-container">  
                {% block main-content %}
                
                {% endblock %}
            </div>  
        </main>
    </body>
</html>

