{% extends "base.html" %}
{% load static %}

{% block title %}WorldIT Друзі{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}

{% block info-content %}
    <div class="info-navigations">
        <p class="info-navigations-active-test">Головна</p>
        <p class="info-navigations-text">Запити</p>
        <p class="info-navigations-text">Рекомендації</p>
        <p class="info-navigations-text">Всі друзі</p>
    </div>
{% endblock %}

{% block main-content %}
    {% include 'friends_app/particals/requests.html' %}
    {% include 'friends_app/particals/recommendations.html' %}
    {% include 'friends_app/particals/friends.html' %}
{% endblock %}

{% block modals %}{% endblock %}

{% block script %}{% endblock %}