{% extends "base.html" %}
{% load static %}

{% block title %}WorldIT Друзі{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}

{% block info-content %}
    <div class="info-navigations">
        <p class="info-navigations-text info-navigations-active-test" data-id="all">Головна</p>
        <p class="info-navigations-text" data-id="requests">Запити</p>
        <p class="info-navigations-text" data-id='recommendations'>Рекомендації</p>
        <p class="info-navigations-text" data-id="friends">Всі друзі</p>
    </div>
{% endblock %}

{% block main-content %}
    <div class="friends-content-container" id="friends_content">
        <div class="friends-content-container-main" id="friends_content_main">
            {% include 'friends_app/particals/requests.html' %}
            {% include 'friends_app/particals/recommendations.html' %}
            {% include 'friends_app/particals/friends.html' %}
        </div>
        {% include 'post_app/download_parts/sentinel.html'  %}
    </div>
{% endblock %}

{% block modals %}{% endblock %}

{% block script %}
    <script src="{% static 'js/friends.js' %}"></script>
{% endblock %}