{% extends "base.html" %}
{% load static %}

{% block title %}WorldIT Друзі{% endblock %}

{% block links %}{% endblock %}

{% block info-content %}
    <div class="info-navigations">
        <p class="info-navigations-active-test">Головна</p>
        <p class="info-navigations-text">Запити</p>
        <p class="info-navigations-text">Рекомендації</p>
        <p class="info-navigations-text">Всі друзі</p>
    </div>
{% endblock %}

{% block main-content %}
    {% for i in "......................." %}    
        <div class="scrolls-container content-border-container">   
            <h1>Друзі</h1>
        </div>
    {% endfor %}
{% endblock %}

{% block modals %}{% endblock %}

{% block script %}{% endblock %}