<p class="under-auth-navigation-text">Приєднуйся до World IT</p>

<div class="auth-form">
    <form action="{% url 'registration' %}" method="POST" id="registration_form" class="form">
        {% csrf_token %}
        <p>
            <p>Email: </p>
            {{ registration_form.email }}
        </p>
        <p>
            <p>Password: </p>
            {{ registration_form.password1 }}
        </p>
        <p>
            <p>Password confirmation: </p>
            {{ registration_form.password2 }}
        </p>
        <button type="submit">Зареєструватися</button>
    </form>
</div>