{% extends "base.html" %}
{% load static %}

{% block title %}WorldIT Налаштування{% endblock %}

{% block links %}{% endblock %}

{% block info-content %}
    <div class="info-navigations">
        <p class="info-navigations-active-test">Особиста інформація</p>
        <p class="info-navigations-text">Альбоми</p>

        <button id="themeToggle">Change theme</button>
    </div>
{% endblock %}

{% block main-content %}
    {% for i in "......................." %}    
        <div class="scrolls-container content-border-container">   
            <h1>Налаштування</h1>
        </div>
    {% endfor %}
{% endblock %}

{% block modals %}{% endblock %}

{% block script %}
    <script src="{% static 'js/theme_change.js' %}"></script>
{% endblock %}