{% load static %}

{% for chat in chats %}
    {% for profile in chat.users.all %}
        {% if profile != user_profile %}
            {% with other_user=profile %}
                <div class="message-user-block open-chat-with" data-chat-id="{{ chat.id }}" data-username="{{ other_user.user.username }}">

                    <div class="message-container-image-container">
                        {% if other_user.is_active %} 
                            <img class="message-image" src="{% static 'images/icons/indicator_active.svg' %}" alt="indicator">
                        {% else %}
                            <img class="message-image" src="{% static 'images/icons/indicator.svg' %}" alt="indicator">
                        {% endif %}
                    </div>
                    
                    {% with last_message=chat.messages.first %}
                        <div class="message-block-info">
                            <div class="message-block-info-header">                                  
                                <p class="message-block-username">{{ other_user.user.username }}</p>
                                <p class="message-block-time">{% if last_message.created_at %} {{ last_message.created_at|date:"H:i" }} {% else %} 00:00 {% endif %}</p>
                            </div>
                            <p class="message-block-email">{% if last_message.text %} {{ last_message.text }} {% else %} Без публікацій {% endif %}</p>
                        </div>
                    {% endwith %}
                </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endfor %}