{% load static %}

{% for select_user in requests %}
    <div class="followers-user-block user-profile-request" data-profile-id="{{ select_user.id }}">
        <div class="followers-container-image-container">
            <img class="message-image online-img-{{select_user.id}}" src="{% static 'images/icons/indicator.svg' %}" alt="indicator">
        </div>
        <div class="user-block-info">
            <p class="user-block-username">{{ select_user.profile.pseudonym }}</p>
            <p class="user-block-email">{{ friends_count|default:'0' }} підписників</p>
        </div>
    </div>
{% endfor %}