{% extends "base.html" %}
{% load static %}

{% block title %}WorldIT Головна{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/profile_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_app.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_modal.css' %}">
{% endblock %}

{% block info-content %}
    <div class="profile-container content-border-container">
        <div class="profile-user-container">
            <div class="profile-user-image-container">
                <img class="profile-user-image" src="{% static 'images/icons/indicator.svg' %}" alt="">
            </div>
            <div class="profile-username">
                <a href="{% url 'profile' user_id=user.profile.id action='watch' %}" class="username-text" id="username_text">{{ user.username }}</a>
                <a href="{% url 'profile' user_id=user.profile.id action='watch' %}" class="pseudonym-text" id="pseudonym_text">{{ user.profile.pseudonym }}</a>
                <!-- <p class="username-text" id="username_text">{{ user.username }}</p>
                <p class="pseudonym-text" id="pseudonym_text">{{ user.profile.pseudonym }}</p> -->
            </div>      
        </div>
        <div class="profile-statistics-container">
            <div class="profile-static">
                <p class="static-text">{{ user.signature|default:'0' }}</p>
                <p class="name-static-text">Дописи</p>
            </div>
            <div class="profile-static profile-static-border">
                <p class="static-text">{{ user.reader|default:'0' }}</p>
                <p class="name-static-text">Читачі</p>
            </div>
            <div class="profile-static">
                <p class="static-text">{{ user.friends|length|default:'0' }}</p>
                <p class="name-static-text">Друзі</p>
            </div>
        </div>
    </div>

    <div class="requests-container content-border-container">
        <div class="container-header">
            <div class="container-header-name-container">
                <div class="container-image-container">
                    <img class="container-image" src="{% static 'images/icons/people.svg' %}" alt="">
                </div>
                <p class="container-header-name">Запити</p>
            </div>
            <button class="container-header-button" data-id="requests" id="all_requests">Дивитись всі</button>
        </div>

        {% if requests %}     
            <div class="followers-container">
                {% for friendship in requests %}
                    <div class="followers-user-block">
                            <div class="followers-container-image-container">
                                <img class="followers-image" src="{% static 'images/icons/indicator.svg' %}" alt="">
                            </div>
                            <div class="user-block-info">
                                <a href="{% url 'profile' user_id=friendship.id action='watch' %}" class="user-block-username">{{ friendship.user.username }}</a>
                                <p class="user-block-email">{{ friendship.from_user.signature|default:'0' }}к підписників</p>
                            </div>
                        </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- {% if requests %}
                <div class="followers-user-block">
                    <div class="followers-container-image-container">
                        <img class="followers-image" src="{% static 'images/users/avatar1.svg' %}" alt="">
                    </div>
                    <div class="user-block-info">
                        <p class="user-block-username">Yehor Aung</p>
                        <p class="user-block-email">4.3к підписників</p>
                    </div>
                </div>

                <div class="followers-user-block">
                    <div class="followers-container-image-container">
                        <img class="followers-image" src="{% static 'images/users/avatar2.svg' %}" alt="">
                    </div>
                    <div class="user-block-info">
                        <p class="user-block-username">Ann Ann</p>
                        <p class="user-block-email">1.6к підписників</p>
                    </div>
                </div>

                <div class="followers-user-block">
                    <div class="followers-container-image-container">
                        <img class="followers-image" src="{% static 'images/users/avatar3.svg' %}" alt="">
                    </div>
                    <div class="user-block-info">
                        <p class="user-block-username">Yeugen Jenua</p>
                        <p class="user-block-email">10.3к підписників</p>
                    </div>
                </div>
            </div>
        {% endif %} -->
    </div>

    <div class="message-container content-border-container">
        <div class="container-header">
            <div class="container-header-name-container">
                <div class="container-image-container">
                    <img class="container-image" src="{% static 'images/icons/message.svg' %}" alt="">
                </div>
                <p class="container-header-name">Повідомлення</p>
            </div>
            <button class="container-header-button msg-btn">Дивитись всі</button>
        </div>

        {% if user.is_authenticated %}
            <div class="message-list">
                <div class="message-user-block">
                    <div class="message-container-image-container">
                        <img class="message-image" src="{% static 'images/users/avatar4.svg' %}" alt="">
                    </div>
                    
                    <div class="message-block-info">
                        <div class="message-block-info-header">
                            <p class="message-block-username">Mona Lisa</p>
                            <p class="message-block-time">09:41</p>
                        </div>
                        <p class="message-block-email">Привіт! Як справи ?</p>
                    </div>
                </div>

                <div class="message-user-block">  
                    <div class="message-container-image-container">
                        <img class="message-image" src="{% static 'images/users/avatar5.svg' %}" alt="">
                    </div>
                    
                    <div class="message-block-info">
                        <div class="message-block-info-header">
                            <p class="message-block-username">Ann Ti</p>
                            <p class="message-block-time">25.04.2025</p>
                        </div>
                        <p class="message-block-email">Привіт!</p>
                    </div>
                </div>

                <div class="message-user-block">
                    <div class="message-container-image-container">
                        <img class="message-image" src="{% static 'images/users/avatar6.svg' %}" alt="">
                    </div>
                    
                    <div class="message-block-info">
                        <div class="message-block-info-header">
                            <p class="message-block-username">Ness Ty</p>
                            <p class="message-block-time">25.04.2025</p>
                        </div>
                        <p class="message-block-email">Привіт!</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block main-content %}
    {% include "post_app/particles/create_post.html" %}

    <div class="post-content-container" id="post_content">
        <div class="post-content-container-main" id="post_content_main">
            {% include 'post_app/download_parts/post_list.html'  %}
        </div>
        {% include 'post_app/download_parts/sentinel.html'  %}
    </div>

{% endblock %}

{% block modals %}
    {% include "post_app/particles/create_post_form.html" %}

    {% include "post_app/particles/create_tag_form.html" %}

    <div class="modal-registration-bg hidden">
        <div class="modal-registration-view">
            <form method="POST" class="modal-registration-view-form" id="registration-modal">
                {% csrf_token %}
                <div class="modal-registration-text-div">
                    <p class="modal-registration-text">Додай деталі про себе</p>
                </div>
                <div class="modal-registration-inputs">
                    <div class="modal-registration-inputs-div">
                        <p class="registration-text">Псевдонім автора</p>
                        {{ modal_form.username }}
                    </div>
                    <div class="modal-registration-inputs-div">
                        <p class="registration-text">Ім'я користувача</p>
                        {{ modal_form.user_handle }}
                        <div class="text-under-input">
                            <p class="registration-small-text">Або оберіть: </p>
                            <p class="registration-small-text generete-text">Запропоновані варіанти відповідно до Ім’я та Прізвища</p>
                        </div>
                        <p class="modal-error-text"></p>
                    </div>
                </div>

                <div class="registration-btn-div">
                    <button type="submit" class='registration-btn'>Продовжити</button>
                </div>
            </form>
        </div>  
    </div>
{% endblock %}

{% block script %}
    <script defer>
        let first_registration = "{{ first_registration }}"
        const REQUEST_HTTP = "{% url 'all_friends' %}"
        const ADD_URL_IMG_PATH = "{% static 'images/icons/add_url.svg' %}";
        const DELTE_IMG_PATH = "{% static 'images/icons/delete_image.svg' %}";
        const CHAT_URL = "{% url 'chat' %}"
    </script>

    <script src = "{% static 'js/postLoader.js' %}" defer></script>
    <script src = "{% static 'js/deletePost.js' %}" defer></script>
    <script src = "{% static 'js/profileModal.js' %}" defer></script>
    <script src = "{% static 'js/createPostModal.js' %}" defer></script>
{% endblock %}

