{% extends "base.html" %}
{% load static %}

{% block title %}WorldIT Головна{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/registration_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_modal.css' %}">
{% endblock %}

{% block info-content %}
    <div class="profile-container content-border-container">
        <div class="profile-user-container">
            <div class="profile-user-image-container">
                <img class="profile-user-image" src="{% static 'images/icons/indicator.svg' %}" alt="">
            </div>
            <div class="profile-username">
                <p class="username-text">{{ user.username }}</p>
                <p class="email-text">{{ user.user_handle }}</p>
            </div>      
        </div>
        <div class="profile-statistics-container">
            <div class="profile-static">
                <p class="static-text">{{ user.signature|default:'0' }}</p>
                <p class="name-static-text">Дописи</p>
            </div>
            <div class="profile-static profile-static-border">
                <p class="static-text">{{ user.reader|default:'0' }}</p>
                <p class="name-static-text">Читачі</p>
            </div>
            <div class="profile-static">
                <p class="static-text">{{ user.friends|length|default:'0' }}</p>
                <p class="name-static-text">Друзі</p>
            </div>
        </div>
    </div>

    <div class="requests-container content-border-container">
        <div class="container-header">
            <div class="container-header-name-container">
                <div class="container-image-container">
                    <img class="container-image" src="{% static 'images/icons/people.svg' %}" alt="">
                </div>
                <p class="container-header-name">Запити</p>
            </div>
            <button class="container-header-button">Дивитись всі</button>
        </div>

        <!-- {% if user.friends %}
        {% endif %} -->
        <div class="followers-container">
            <div class="followers-user-block">
                <div class="followers-container-image-container">
                    <img class="followers-image" src="{% static 'images/users/avatar1.svg' %}" alt="">
                </div>
                <div class="user-block-info">
                    <p class="user-block-username">Yehor Aung</p>
                    <p class="user-block-email">4.3к підписників</p>
                </div>
            </div>

            <div class="followers-user-block">
                <div class="followers-container-image-container">
                    <img class="followers-image" src="{% static 'images/users/avatar2.svg' %}" alt="">
                </div>
                <div class="user-block-info">
                    <p class="user-block-username">Ann Ann</p>
                    <p class="user-block-email">1.6к підписників</p>
                </div>
            </div>

            <div class="followers-user-block">
                <div class="followers-container-image-container">
                    <img class="followers-image" src="{% static 'images/users/avatar3.svg' %}" alt="">
                </div>
                <div class="user-block-info">
                    <p class="user-block-username">Yeugen Jenua</p>
                    <p class="user-block-email">10.3к підписників</p>
                </div>
            </div>
        </div>
    </div>

    <div class="message-container content-border-container">
        <div class="container-header">
            <div class="container-header-name-container">
                <div class="container-image-container">
                    <img class="container-image" src="{% static 'images/icons/message.svg' %}" alt="">
                </div>
                <p class="container-header-name">Повідомлення</p>
            </div>
            <button class="container-header-button">Дивитись всі</button>
        </div>

        {% if user.is_authenticated %}
            <div class="message-list">
                <div class="message-user-block">
                    <div class="message-container-image-container">
                        <img class="message-image" src="{% static 'images/users/avatar4.svg' %}" alt="">
                    </div>
                    
                    <div class="message-block-info">
                        <div class="message-block-info-header">
                            <p class="message-block-username">Mona Lisa</p>
                            <p class="message-block-time">09:41</p>
                        </div>
                        <p class="message-block-email">Привіт! Як справи ?</p>
                    </div>
                </div>

                <div class="message-user-block">  
                    <div class="message-container-image-container">
                        <img class="message-image" src="{% static 'images/users/avatar5.svg' %}" alt="">
                    </div>
                    
                    <div class="message-block-info">
                        <div class="message-block-info-header">
                            <p class="message-block-username">Ann Ti</p>
                            <p class="message-block-time">25.04.2025</p>
                        </div>
                        <p class="message-block-email">Привіт!</p>
                    </div>
                </div>

                <div class="message-user-block">
                    <div class="message-container-image-container">
                        <img class="message-image" src="{% static 'images/users/avatar6.svg' %}" alt="">
                    </div>
                    
                    <div class="message-block-info">
                        <div class="message-block-info-header">
                            <p class="message-block-username">Ness Ty</p>
                            <p class="message-block-time">25.04.2025</p>
                        </div>
                        <p class="message-block-email">Привіт!</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block main-content %}
    {% include "post_app/particles/create_post.html" %}

    {% for i in "......................." %}    
        <div class="scrolls-container content-border-container">   
            <h1>Головна</h1>
        </div>
    {% endfor %}
{% endblock %}

{% block modals %}
    {% include "post_app/particles/create_post_form.html" %}

    {% include "post_app/particles/create_tag_form.html" %}

    <div class="modal-registration-bg hidden">
        <div class="modal-registration-view">
            <form method="POST" class="modal-registration-view-form" id="registration-modal">
                {% csrf_token %}
                <div class="modal-registration-text-div">
                    <p class="modal-registration-text">Додай деталі про себе</p>
                </div>
                <div class="modal-registration-inputs">
                    <div class="modal-registration-inputs-div">
                        <p class="registration-text">Псевдонім автора</p>
                        {{ modal_form.username }}
                    </div>
                    <div class="modal-registration-inputs-div">
                        <p class="registration-text">Ім'я користувача</p>
                        {{ modal_form.user_handle }}
                        <div class="text-under-input">
                            <p class="registration-small-text">Або оберіть: </p>
                            <p class="registration-small-text generete-text">Запропоновані варіанти відповідно до Ім’я та Прізвища</p>
                        </div>
                    </div>
                </div>
                <div class="registration-btn-div">
                    <button type="submit" class='registration-btn'>Продовжити</button>
                </div>
            </form>
        </div>  
    </div>
{% endblock %}

{% block script %}
    <script defer>
        let first_registration = "{{ first_registration }}"
        const ADD_URL_IMG_PATH = "{% static 'images/icons/add_url.svg' %}";
        const DELTE_IMG_PATH = "{% static 'images/icons/delete_image.svg' %}";
    </script>

    <script src="{% static 'js/registration_modal.js' %}"></script>
    <script src="{% static 'js/create_post_modal.js' %}"></script>
{% endblock %}

