{% extends "base.html" %}
{% load static %}

{% block title %}WorldIT Мої публікації{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/create_post_modal.css' %}">
{% endblock %}

{% block info-content %}
    <div class="profile-container content-border-container">
        <div class="profile-user-container">
            <div class="profile-user-image-container">
                <img class="profile-user-image" src="{% static 'images/icons/indicator.svg' %}" alt="">
            </div>
            <div class="profile-username">
                <p class="username-text">Lina Li</p>
                <p class="email-text">@thelili</p>
            </div>      
        </div>
        <div class="profile-statistics-container">
            <div class="profile-static">
                <p class="static-text">566</p>
                <p class="name-static-text">Дописи</p>
            </div>
            <div class="profile-static profile-static-border">
                <p class="static-text">12.1K</p>
                <p class="name-static-text">Читачі</p>
            </div>
            <div class="profile-static">
                <p class="static-text">222</p>
                <p class="name-static-text">Друзі</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block main-content %}
    <div class="scrolls-container content-border-container">   
        <button id="open-modal-create-post">Перейти до оформлення</button>
    </div>
{% endblock %}

{% block modals %}
    <!-- <div class="modal-registration-inputs-div">
        <p class="registration-text">Назва публікації</p>
        {{ post_form.title }}
    </div> -->

    <div class="modal-bg hidden">
        <div action="{% url 'create_post' %}"  class="modal-create-post-view">
            <form method="POST" class="modal-create-post-view-form" id="create_post_modal">
                {% csrf_token %}
                <div class="modal-create-post-button-div">
                    <img src="{% static 'images/exit_button.svg' %}" alt="exit-button" class="create-post-exit-button" id="exit_button">
                </div>
                <div class="modal-create-post-text-div">
                    <p class="modal-create-post-text">Створення публікації</p>
                </div>
                <div class="modal-create-post-inputs">
                    <div class="modal-create-post-inputs-div">
                        <p class="create-post-text">Назва публікації</p>
                        {{ post_form.title }}
                    </div>
                    <div class="modal-create-post-inputs-div">
                        <p class="create-post-text">Тема публікації</p>
                        {{ post_form.topic }}
                    </div>

                    <div class="tags">
                        <div class="tag">1ffffff</div>
                        <div class="tag">2ffffff</div>
                        <div class="tag">3ffffff</div>
                    </div>

                    <div class="text-area-div">
                        <!-- <textarea name="" id="" 
                            placeholder="Інколи найкращі ідеї народжуються в тиші
                            Природа, книга і спокій — усе, що потрібно, аби перезавантажитись.
                            #відпочинок #натхнення #життя #природа #читання #спокій #гармонія">
                        </textarea> -->
                        {{ post_form.content }}
                    </div>

                    <div class="modal-create-post-inputs-div" id="modal_create_post_urls_div">
                        <p class="create-post-text">Посилання</p>
                        <div class="modal-urls-div">
                            <input type="url" name="links" class="create-post-input" placeholder="https://www.instagram.com/world.it.ac">                   
                            <div class="modal-add-urls-div">
                                <img src="{% static 'images/add_url.svg' %}" alt="add_url" class="add-url-btn" id='add_url_btn'>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="create-post-btn-div" form="create_post_modal">
                <img src="{% static 'images/create_post_button.svg' %}" alt="create-post-btn" class="create-post-btn">
            </div> 
        </div>  
    </div>
{% endblock %}

{% block script %}
    <script src= "{% static 'js/create_post_modal.js' %}"></script>
{% endblock %}