{% extends "base.html" %}
{% load static %}

{% block title %}WorldIT Мої публікації{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/post_app.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_post_modal.css' %}">
{% endblock %}

{% block info-content %}
    <div class="profile-container content-border-container">
        <div class="profile-user-container">
            <div class="profile-user-image-container">
                <img class="profile-user-image" src="{% static 'images/icons/indicator.svg' %}" alt="avatar">
            </div>
            <div class="profile-username">
                <p class="username-text">{{ user.username }}</p>
                <p class="email-text">{{ user.user_handle }}</p>
            </div>      
        </div>
        <div class="profile-statistics-container">
            <div class="profile-static">
                <p class="static-text">{{ user.signature|default:'0' }}</p>
                <p class="name-static-text">Дописи</p>
            </div>
            <div class="profile-static profile-static-border">
                <p class="static-text">{{ user.reader|default:'0' }}</p>
                <p class="name-static-text">Читачі</p>
            </div>
            <div class="profile-static">
                <p class="static-text">{{ user.friends|length|default:'0' }}</p>
                <p class="name-static-text">Друзі</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block main-content %}
    <div class="create-post-container scrolls-container content-border-container">   
        <div class="create-post-container-text-div">
            <textarea name="" id="create_post_container_text" class="create-post-container-text" placeholder="Текст публікації"></textarea>
        </div>
        <div class="create-post-container-btn-div">
            <img src="{% static 'images/emoji.svg' %}" alt="emoji-button" class="emoji-button" id="emoji_button">
            <button id="open-modal-create-post" class="open-modal-create-post-btn">Перейти до оформлення</button>
        </div>
    </div>
    {% for post in posts %} 
        <div class="scrolls-container content-border-container post-conteiner">
            <div class="post-conteiner-header">
                <div class="avatar-label">                    
                    <div class="user-info-container">
                        <img class="profile-user-image" src="{% static 'images/icons/indicator.svg' %}" alt="avatar">
                        <p class="username-text">{{ user.username }}</p>
                    </div>
                    <div class="avatar-sing">
                        <img class="profile-user-image" src="{% static 'images/avatar_sing.svg' %}" alt="avatar_sing">
                    </div>
                </div>
                <div class="interaction-settings">
                    <img class="profile-user-image" src="{% static 'images/interaction.svg' %}" alt="interaction">
                </div>
            </div>
            
            <div>
                <p>{{ post.title }}</p>
                <p>{{ post.author }}</p>
                <p>{{ post.topic }}</p>
                <p>{{ post.content }}</p>
    
                <hr>
                <p>Tags list</p>
                {% for tag in post.tags.all %}
                    <p>{{ tag.name }}</p>
                {% empty %}
                    <p>Пусто Tags</p>
                {% endfor %}
    
                <hr>
                <p>Links list</p>
                {% for link in post.links.all %}
                    <p>{{ link.url }}</p>
                {% empty %}
                    <p>Пусто Links</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block modals %}
    <div class="modal-bg hidden">
        <div class="modal-create-post-view">
            <form action="{% url 'create_post' %}"  method="POST" class="modal-create-post-view-form" id="create_post_modal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-create-post-button-div">
                    <img src="{% static 'images/exit_button.svg' %}" alt="exit-button" class="create-post-exit-button" id="exit_button">
                </div>
                <div class="modal-create-post-text-div">
                    <p class="modal-create-post-text">Створення публікації</p>
                </div>
                <div class="modal-create-post-inputs">
                    <div class="modal-create-post-inputs-div">
                        <p class="create-post-text">Назва публікації</p>
                        {{ post_form.title }}
                    </div>
                    <div class="modal-create-post-inputs-div">
                        <p class="create-post-text">Тема публікації</p>
                        {{ post_form.topic }}
                    </div>

                    <div class="tags">
                        <!-- {{ post_form.tags }} -->
                          
                        {% for tag in tags %}  
                            <div class="tag" name="tags" value="{{ tag.id }}"  id="id_tags_{{ tag.id }}">{{ tag.name }}</div>          
                        {% endfor %} 

                        <div class="modal-add-urls-div">
                            <img src="{% static 'images/add_url.svg' %}" alt="add_tag" class="add-tag-btn" id='add_tag_btn'>
                        </div>
                    </div>

                    <div class="text-area-div">
                        {{ post_form.content }}
                    </div>

                    <div class="modal-create-post-inputs-div">
                        <p class="create-post-text">Посилання</p>
                        <div class="modal-urls-div" id="modal_create_post_urls_div">
                        </div>
                        <div class="modal-url">
                            <input type="url" name="links" class="create-post-input" id="create_post_input" placeholder="https://www.instagram.com/world.it.ac">                   
                            <div class="modal-add-urls-div">
                                <img src="{% static 'images/add_url.svg' %}" alt="add_url" class="add-url-btn" id='add_url_btn'>
                            </div>
                        </div>
                    </div>

                    {{ post_form.images }}
                </div>
            </form>
            
            <div class="create-post-btn-div">
                <img src="{% static 'images/add_images.svg' %}" alt="add-images-button" class="add-images-button" id='images_field'>
                <img src="{% static 'images/emoji.svg' %}" alt="emoji-button" class="emoji-button">
                <button class="create-post-btn" form="create_post_modal">
                    <img src="{% static 'images/create_post_button.svg' %}" alt="create-post-btn" id="create_post" class="create-post">
                </button>
            </div> 
        </div>  
    </div>

    <div class="modal-tag-bg hidden">
        <div class="modal-create-tag-view">
            <form action="{% url 'create_tag' %}" method="POST" class="modal-create-tag-view-form" id="create_tag_modal">
                {% csrf_token %}
                <div class="modal-create-tag-button-div">
                    <img src="{% static 'images/exit_button.svg' %}" alt="exit-button" class="create-tag-exit-button" id="exit_tag_button">
                </div>

                <div class="modal-create-tag-text-div">
                    <p class="modal-create-tag-text">Додати хештег</p>
                </div>

                <div class="modal-create-tag-inputs">
                    <div class="modal-create-tag-inputs-div">
                        <p class="create-tag-text">Назва</p>
                        {{ tag_form.name }}
                    </div>
                </div>
            </form>
            
            <div class="create-post-btn-div">
                <button class="cansle-tag-btn" id="cansle_tag_modal">
                    Скасувати
                </button>

                <button class="create-tag-btn" form="create_tag_modal">
                    Зберегти
                </button>
            </div> 
        </div>  
    </div>
{% endblock %}

{% block script %}
    <script>
        const STATIC_ADD_URL = "{% static 'images/add_url.svg' %}";
    </script>
    <script src= "{% static 'js/create_post_modal.js' %}"></script>
{% endblock %}