{% load static %}

<div class="modal-add-group-bg hidden">
    <div class="modal-add-group-view">
        <form method="POST" class="modal-registration-view-form" id="add_group_modal">
            {% csrf_token %}
            <div class="modal-create-post-button-div">
                <img src="{% static 'images/buttons/exit_button.svg' %}" alt="exit-button" class="create-post-exit-button" id="cansle_add_group_modal">
            </div>

            <div class="modal-registration-text-div">
                <p class="modal-registration-text">Нова група</p>
            </div>

            <div class="contacts-input-wrap">
                <img src="{% static 'images/icons/search_img.svg' %}" alt="search" class='contacts-input-img'>
                <input type="text" class='contacts-input' placeholder="Пошук">
            </div>

            <p class="add-group-text">Вибрано: <span>3</span></p>

            <div class="checkbox-users-container">
                {% for profile in all_friends %}   
                    {% if profile.letter %}           
                        <p class="create-post-text">{{ profile.letter }}</p>
                    {% else %}
                        <div class="followers-user-block user-block-border">
                            <div class="followers-container-image-container">
                                <img class="followers-image" src="{% static 'images/icons/indicator.svg' %}" alt="">
                            </div>
                            <div class="user-block-info">
                                <p class="user-block-username">{{profile.user.username}}</p>
                                <img src="{% static 'images/icons/checkbox_false.svg' %}" alt="checkbox" class="del-img checkbox" data-checkbox="false" data-profile-id='{{ profile.id }}' data-username='{{ profile.user.username }}' id="checkbox_{{ profile.id }}">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="create-post-btn-div">
                <button type="button" class="cansle-tag-btn" id="cansle_add_group_modal">
                    Скасувати
                </button>

                <button type="button" class="create-tag-btn" id="next_add_group_modal">
                    Далі
                </button>
            </div> 
        </form>
    </div>  
</div>