{% load static %}

{% for group in groups %}
    <div class="message-user-block user-select" data-chat-id="{{ group.id }}">
        <div class="message-container-image-container">
            <img class="message-image" src="{% static 'images/chat_img.svg' %}" alt="">
        </div>
        
        {% with last_message=group.messages.first %}
            <div class="message-block-info">
                <div class="message-block-info-header">
                    <p class="message-block-username">{{ group.name }}</p>
                    <p class="message-block-time">{{ last_message.created_at|date:"H:i" }}</p>
                </div>
                <p class="message-block-email">{{ last_message.text }}</p>
            </div>
        {% endwith %}
    </div>
{% endfor %}