{% load static %}

<div class="friends-container scrolls-container content-border-container"> 
    <div class="friends-container-header">
        <p class="friends-container-title">Запити</p>
        <p class="get-all-text">Дивитись всі</p>
    </div>
    <div class="friends-container-content">
        {% for profile in requests %}
            <div class="friends-container-block content-border-container">
                <div class="profile-user-image-container">
                    <img class="profile-user-image" src="{% static 'images/icons/indicator.svg' %}" alt="">
                </div>
                <div class="profile-username">
                    <a href="{% url 'profile' user_id=user.profile.id %}" class="username-text">{{ user.username }}</a>
                    <a href="{% url 'profile' user_id=user.profile.id %}" class="pseudonym-text">{{ user.profile.pseudonym }}</a>
                    <!-- <p class="username-text">{{ user.username }}</p>
                    <p class="pseudonym-text">{{ user.profile.pseudonym }}</p> -->
                </div> 
                <div class="block-buttomns">
                    <img class="friends-btn" src="{% static 'images/accept_btn.svg' %}" alt="">
                    <img class="friends-btn" src="{% static 'images/delete_btn.svg' %}" alt="">     
                </div>
            </div>
        {% endfor %}
    </div>
</div>
