{% load static %}

{% for profile in requests %}
    <div class="friends-container-block content-border-container">
        <div class="profile-user-image-container">
            <img class="profile-user-image" src="{% static 'images/icons/indicator.svg' %}" alt="">
        </div>
        <div class="profile-username">
            <a href="{% url 'profile' user_id=profile.id %}" class="username-text">{{ profile.user.username }}</a>
            <a href="{% url 'profile' user_id=profile.id %}" class="pseudonym-text">{{ profile.pseudonym }}</a>
            <!-- <p class="username-text">{{ user.username }}</p>
            <p class="pseudonym-text">{{ user.profile.pseudonym }}</p> -->
        </div> 
        <div class="block-buttomns">
            <img class="friends-btn" data-action='accept' data-from-user-id="{{ profile.id }}" src="{% static 'images/accept_btn.svg' %}" alt="">
            <img class="friends-btn" data-action='delete_frienship' data-from-user-id="{{ profile.id }}" src="{% static 'images/delete_btn.svg' %}" alt="">     
        </div>
    </div>
{% endfor %}

